.btn {
  @apply lowercase rounded-full;
}

.box {
  @apply uppercase bg-neutral-700 rounded-full;
}

.logo {
  /* background-color: red; */
  mask: url(/images/github-mark.svg) no-repeat center;
  mask-size: cover;

  /* mask: url("/images/github-mark.svg") no-repeat center; */
}

.btn:hover .logo {
  @apply transition-colors;
  background-color: white;
}

.text-gradient-2 {
  /* @apply bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%; */
  @apply text-transparent text-8xl bg-clip-text bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%;
}
