---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not found" description="">
  <main class="px-md mb-40 max-w-3xl mx-auto">
    <div class="hero min-h-[80vh]">
      <div class="hero-content">
        <div class="max-w-2xl">
          <h1 class="text-5xl font-bold">404</h1>
          <p class="py-6">Oops! This page does not exist.</p>
          <div class="flex gap-2">
            <a href="/" class="btn btn-primary">Back to start</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
