---
import Layout from "../layouts/Layout.astro";

const pageTitle = "V칛lkommen till premi칛ren f칬r 칀len!";
const pageDescription =
  "Den 25 maj ger vi oss ut p친 ett sp칛nnande undervattens칛ventyr. V친r egentillverkade autonoma undervattensrobot, 칀len, ska f칬r f칬rsta g친ngen f칬rs칬ka runda Rotholmen - helt p친 egen hand. Se tekniken, tr칛ffa teamet bakom projektet, grilla en varmkorv och dela sp칛nningen och nervositeten n칛r vi v칛ntar vid strandkanten p친 att 칀len ska dyka upp igen.";
const imageUrl =
  "https://www.foxpoint.se/images/Inbjudan_rundning_Rotholmen.jpg";
---

<Layout title={pageTitle} description={pageDescription} imageUrl={imageUrl}>
  <main>
    <div class="pt-lg pb-xl">
      <div
        class="px-md max-w-3xl mx-auto flex flex-col items-center text-center"
      >
        <h1 class="tracking-tightest mb-md max-w-[500px]">
          <div class="text-5xl leading-[3.5rem]">
            <span class="font-semibold mb-sm">V칛lkommen till</span>
            <span class="font-extrabold">premi칛ren f칬r 칀len!</span>
          </div>
        </h1>
        <div class="flex justify-center">
          <img
            src="/images/Inbjudan_rundning_Rotholmen.jpg"
            alt="V칛lkommen till premi칛ren f칬r 칀len!"
            class="max-h-[600px]"
          />
        </div>
        <div class="max-w-[500px] text-left mt-md">
          <h2 class="font-bold text-lg">Vad 칛r det h칛r?</h2>
          <p class="mb-md">
            Den 25 maj ger vi oss ut p친 ett sp칛nnande undervattens칛ventyr.
          </p>
          <p class="mb-md">
            V친r egentillverkade autonoma undervattensrobot, 칀len, ska f칬r f칬rsta
            g친ngen f칬rs칬ka runda Rotholmen - helt p친 egen hand.
          </p>
          <p class="mb-md">
            Se tekniken, tr칛ffa teamet bakom projektet, grilla en varmkorv och
            dela sp칛nningen och nervositeten n칛r vi v칛ntar vid strandkanten p친
            att 칀len ska dyka upp igen.
          </p>
          <h2 class="font-bold text-lg mt-lg">Vad kommer h칛nda?</h2>
          <p class="mb-md">Det vet vi inte!</p>
          <p class="mb-md">
            Men f칬rhoppningsvis kommer du f친 bevittna ett historiskt 칬gonblick i
            det h칛r projektet.
          </p>
          <p class="mb-md">
            Du kommer kunna f칬lja rundningen i realtid p친 en TV-sk칛rm, h칬ra lite
            sk칬na anekdoter fr친n oss, och kanske f친 med dig n친gra klisterm칛rken
            hem.
          </p>
          <p class="mb-md">
            Vi bjuder p친 korv och saft! Det 칛r bara att "dyka" upp.
          </p>
          <h2 class="font-bold text-lg mt-lg">N칛r 칛r det?</h2>
          <p class="mb-md">
            25 maj 2025. Vi b칬rjar kl 10 och h친ller p친 till 12.
          </p>
          <h2 class="font-bold text-lg mt-lg">Vart ska jag?</h2>
          <p class="mb-md">H칛gerstenshamnen, n칛ra Selmedalsringen 26.</p>
          <p class="mb-md">
            Mer precist h칛r: <a
              target="_blank"
              class="link link-primary"
              href="https://maps.app.goo.gl/uQAsvH87uTZ9GbcD7"
              >https://maps.app.goo.gl/uQAsvH87uTZ9GbcD7</a
            >
          </p>
          <h2 class="font-bold text-lg mt-lg">Var kan jag parkera?</h2>
          <p class="mb-md">
            H칛r: <a
              target="_blank"
              class="link link-primary"
              href="https://maps.app.goo.gl/HJxsPL6gkgZvqn8V9"
              >https://maps.app.goo.gl/HJxsPL6gkgZvqn8V9</a
            >
          </p>
          <div class="mt-xl mb-xl">
            <p class="mb-sm">Vi ses!</p>
            <p>游삐</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
