---
import Layout from "../layouts/Layout.astro";
import { YouTube } from "astro-embed";

const pageTitle = "Welcome to Foxpoint.";
const pageDescription =
  "Autonomous underwater vehicles. Foxpoint, Stockholm, Sweden.";
---

<Layout title={pageTitle} description={pageDescription}>
  <main>
    <div class="hero min-h-[80vh]">
      <div class="hero-content">
        <div class="max-w-2xl">
          <img
            src="/images/foxpoint_logo_outline.svg"
            class="mb-2xl"
            alt="Foxpoint logo"
          />

          <h1 class="text-5xl font-bold text-gradient">Welcome to Foxpoint.</h1>
          <p class="py-6">Autonomous underwater vehicles.</p>
          <div class="flex gap-2">
            <a href="/docs" class="btn btn-primary">Documentation</a>
            <a href="https://github.com/foxpoint-se" class="btn btn-outline">
              <div class="github-logo h-6 w-6 bg-neutral"></div>
              Github
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="px-md mb-40 max-w-3xl mx-auto">
      <h2 class="text-3xl font-bold mb-md">What is this?</h2>
      <YouTube id="https://youtu.be/KOSPxWNBfw4?si=a7EsqGDZAqqcgX65" />
      <div class="mt-32">
        <h2 class="text-3xl font-bold mb-md">Latest updates</h2>
        <div class="card card-compact bg-base-100 shadow-xl">
          <figure>
            <img
              src="/images/field_trip_2023_08_20.jpg"
              alt="Field trip with the Eel"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Testing depth control in the field</h2>
            <p class="font-bold text-sm">2023-08-20</p>
            <p>
              We went out in the field to test the depth control, using a
              gamepad and cable.
            </p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary" disabled>View all updates</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
