---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Welcome to Foxpoint.";
const pageDescription =
  "Autonomous underwater vehicles. Foxpoint, Stockholm, Sweden.";
---

<Layout title={pageTitle} description={pageDescription}>
  <main>
    <div class="hero min-h-[90vh]">
      <div class="hero-content">
        <div class="max-w-2xl">
          <img
            src="/images/foxpoint_logo_outline.svg"
            class="mb-2xl"
            alt="Foxpoint logo"
          />

          <h1 class="text-5xl font-bold text-gradient">Welcome to Foxpoint.</h1>
          <p class="py-6">Autonomous underwater vehicles.</p>
          <div class="flex gap-2">
            <a href="/docs" class="btn btn-primary">Documentation</a>
            <a href="https://github.com/foxpoint-se" class="btn btn-outline">
              <div class="github-logo h-6 w-6 bg-neutral"></div>
              Github
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
