---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const shorten = (str: string, maxLen: number, separator = " ") => {
  if (str.length <= maxLen) return str;
  return str.substring(0, str.lastIndexOf(separator, maxLen));
};

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

interface Props {
  article: CollectionEntry<"docs">;
}

const { article } = Astro.props;
const { Content } = await article.render();
const alternativeDescription = shorten(article.body, 155) + "...";
const description = article.data.description || alternativeDescription;
---

<Layout title={article.data.title} description={description}>
  <main class="px-md mb-xl max-w-3xl mx-auto">
    <div class="text-sm breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/docs">Articles</a></li>
        <li>{article.data.title}</li>
      </ul>
    </div>
    <article>
      <Content />
    </article>
  </main>
</Layout>
