---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Foxpoint documentation"
  description="Articles, guides, documentation etc."
>
  <main class="px-md mb-xl max-w-3xl mx-auto">
    <div class="mt-lg mb-md">
      <h1 class="text-4xl font-bold text-gradient">Articles</h1>
    </div>

    <a class="link link-primary" href="/docs/how-to-use-ui-and-eel-together"
      >How to use the UI and Eel together</a
    >
  </main>
</Layout>
