---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const articles = await getCollection("docs");
---

<Layout
  title="Foxpoint documentation"
  description="Articles, guides, documentation etc."
>
  <main class="px-md mb-xl max-w-3xl mx-auto">
    <div class="mt-lg mb-md">
      <h1 class="text-4xl font-bold text-gradient">Articles</h1>
    </div>

    {
      articles.map((a) => {
        return (
          <a class="link link-primary" href={`/${a.collection}/${a.slug}`}>
            {a.data.title}
          </a>
        );
      })
    }
  </main>
</Layout>
