---
import Layout from "../../layouts/Layout.astro";
import "../../styles/base.css"
---

<Layout title="Foxpoint documentation">
    <main class="px-md">
        <div class="mt-lg mb-md">

            <h1 class="text-4xl font-bold text-gradient-2">Articles</h1>
        </div>

        <a class="link link-primary" href="/docs/how-to-use-ui-and-eel-together">How to use the UI and Eel together</a>

    </main>
</Layout>
