name: CDK deploy

on:
  push:
    branches: [ghtest]
  pull_request:
    branches: [ghtest]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "This job is now running on a ${{ runner.os }} server hosted by GitHub."
      - run: echo "The branch is ${{ github.ref }} and the repository is ${{ github.repository }}."
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          cache: "yarn"
          cache-dependency-path: docs/yarn.lock
      # - run: make setup-docs
      # - run: make build-docs
      - run: make deploy
